:root {
  --breakpoint-mobile-tablet: 425px;
  --breakpoint-tablet-desktop: 992px;

  font-size: 62.5%;

  --clr-primary-1: hsl(217, 19%, 35%);
  --clr-primary-2: hsl(214, 17%, 51%);
  --clr-primary-3: hsl(212, 23%, 69%);
  --clr-primary-4: hsl(210, 46%, 95%);

  --ff-primary: "Manrope", sans-serif;

  --fs-heading-1: 1.8rem;
  --fs-body-1: 1.3rem;

  --fw-500: 500;
  --fw-700: 700;
}

/* Large Viewports */

@media screen and (min-width: 992px) {
  :root {
  }
}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Disabling Text Selection by User */
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* Disabling Image Dragging */
img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* FEM Attribution */
.attribution {
  margin-bottom: 3rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #000;
}

/* Utilities */
.text-clr-primary-1 {
  color: var(--clr-primary-1);
}

.text-clr-primary-2 {
  color: var(--clr-primary-2);
}

.text-clr-primary-3 {
  color: var(--clr-primary-3);
}

.text-clr-primary-4 {
  color: var(--clr-primary-4);
}

.bg-clr-primary-1 {
  background-color: var(--clr-primary-1);
}

.bg-clr-primary-2 {
  background-color: var(--clr-primary-2);
}

.bg-clr-primary-3 {
  background-color: var(--clr-primary-3);
}

.bg-clr-primary-4 {
  background-color: var(--clr-primary-4);
}

.fw-bold {
  font-weight: var(--fw-700);
}

/* Body */
body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  place-items: center;
  font-family: var(--ff-primary);
  font-size: var(--fs-body-1);
  font-weight: var(--fw-500);
  background-color: var(--clr-primary-4);
}

/* Article Card */
#article-card {
  margin: 5rem 2rem 2rem;
  background-color: white;
}

.illustration {
  height: 20rem;
  background-image: url(/images/drawers.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
}

#article-card > :nth-child(n + 2):nth-child(-n + 3) {
  padding: 0 2rem;
}

#article-card > footer > :nth-last-child(1) {
  background-color: rebeccapurple;
  /* height: 8rem; */
}

#article-card > h1 {
  margin-bottom: 1.5rem;
  font-size: var(--fs-heading-1);
}

#article-card > p {
  text-align: left;
  margin-bottom: 1.5rem;
}

footer {
}

#avatar-view,
#share-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 2rem;
}

footer > .hide {
  display: none !important;
}

#avatar-view {
}

.avatar {
  display: flex;
}

.avatar > img {
  height: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.avatar-info {
}

.avatar .name {
  margin-bottom: 0.5rem;
}

.avatar .published-on {
}

footer button {
  border: transparent;
  background: transparent;
  cursor: pointer;
}

footer button > img {
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--clr-primary-4);
}

#share-view {
}

.socials {
  display: flex;
}

.socials p {
  letter-spacing: 0.7rem;
}

.socials > img {
  padding: 0 1rem;
}

#share-view > img {
}
